@* IEnumerable<CommuNeedy.Models.Donation>*@
@*model CommuNeedy.Models.Need*@
@model CommuNeedy.Models.DonationViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row" style="margin-top: 80px;">
        <h1 class="need-head col-lg-6 col-md-8">All Donations</h1>
        <p class="col-lg-6 col-md-8">
            <a class="add" asp-action="Create"><i class="fa plus fa-plus"></i>Make donation</a>
        </p>
    </div>
    <div class="row" style="margin-bottom: 50px;">
        @foreach (var item in Model.DonationswithNeeds)
        {
            @if (item.DonationNeeds != null)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Description)</h5>
                            <p class="card-date">@Html.DisplayFor(modelItem => item.ReleasedDate)</p>
                        </div>
                        <div class="card-btns">
                            @if (item.DonationNeeds != null)
                            {
                                <p style="color: #3C79FF; font-weight: 600; float:left; margin-top:11px; margin-left: 20px;"><i class="fa fa-credit-card" style="margin-right: 5px;"></i>R @Html.DisplayFor(modelItem => item.Category),00</p>
                            }
                            <a class="btn btn-primary details" role="button" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-folder"></i></a>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    <h1 class="need-head">My Donations</h1>
    <div class="row" style="margin-bottom: 50px;">
        @foreach (var item in Model.UserDonations)
        {
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Description)</h5>
                        <p class="card-date">@Html.DisplayFor(modelItem => item.ReleasedDate)</p>
                        <p style="color: #3C79FF; font-weight: 600; float:left; margin-top:11px; margin-left: 20px;"><i class="fa fa-credit-card" style="margin-right: 5px;"></i>R @Html.DisplayFor(modelItem => item.Category),00</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

