@model CommuNeedy.Models.Need

@{
    ViewData["Title"] = "Delete";
}

<div class="row" style="margin-top: 40px;">
    <div class="col-md-5 need-img2"></div>
    <div class="col-md-7" style="padding: 200px;">
        <h1 class="head">Delete your need</h1>
        <h3 style="font-size: 16px; margin-bottom: 50px;">Are you sure you want to delete this?</h3>
        <dl class="row">
            <dt class="col-4">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-8">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-4">
                Date posted
            </dt>
            <dd class="col-8">
                @Html.DisplayFor(model => model.ReleaseDate)
            </dd>
            <dt class="col-4">
                @Html.DisplayNameFor(model => model.Owner)
            </dt>
            <dd class="col-8">
                @Html.DisplayFor(model => model.OwnerId)
            </dd>
        </dl>
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" style="padding-left: 50px !important; padding-right: 50px !important; border-radius: 8px !important; font-weight: 600 !important; margin-right: 0px" />
        </form>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>


