@model CommuNeedy.Models.Need

@{
    ViewData["Title"] = "Details";
}

    <div class="row" style="margin-top: 40px;">
        <div class="col-md-5 need-img2"></div>
        <div class="col-md-7" style="padding: 200px;">
            <h1 class="head">Need overview</h1>
            <dl class="row">
                <dt class="col-4">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-8">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt class="col-4">
                    Date posted
                </dt>
                <dd class="col-8">
                    @Html.DisplayFor(model => model.ReleaseDate)
                </dd>
                <dt class="col-4">
                    @Html.DisplayNameFor(model => model.Owner)
                </dt>
                <dd class="col-8">
                    @Html.DisplayFor(model => model.OwnerId)
                </dd>
            </dl>
            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>

